<div class="container">
    <div *ngIf="loading; else tablePessoas">
        Loading...
    </div>
    <ng-template #tablePessoas>

        <div class="float-left">
            <app-basic-search (submit)="searchDealer($event)"></app-basic-search>
        </div>

        <button class="btn btn-success mt-1 mb-3 float-right" (click)="add()">
            <fa-icon [icon]="addIcon"></fa-icon> Adicionar
        </button>

        <table id="content" class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <th scope="row">{{product.id}}</th>
                    <td>{{product.name}}</td>
                    <td>{{product.value | br_money}}</td>
                    <td>
                        <a href="#" onmouseenter="$(this).tooltip('show')" title="Visualizar"
                            (click)="view(product.id)">
                            <fa-icon [icon]="viewIcon"></fa-icon>
                        </a> &nbsp;
                        <a href="#" onmouseenter="$(this).tooltip('show')" title="Editar" (click)="edit(product.id)">
                            <fa-icon [icon]="editIcon"></fa-icon>
                        </a> &nbsp;
                        <a href="#" onmouseenter="$(this).tooltip('show')" title="Deletar" style="color: red;"
                            data-toggle="modal" [attr.data-target]="'#deleteModal' + product.id">
                            <fa-icon [icon]="deleteIcon"></fa-icon>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="float-left mb-2">
            <app-pagination (pageChanged)="receivePageChangeEvent($event)" [update]="updatePagination"
                [pageDict]="pageDict"></app-pagination>
        </div>

        <div class="float-right">
            <app-amount-per-page [currentAmount]="currentPageSize" (amountChanged)="amountPerPageDealer($event)"></app-amount-per-page>
        </div>


        <app-delete *ngFor="let product of products" [id]="product.id" [title]="'Tem certeza?'"
            [message]="'Esta ação irá deletar ' + product.name + ' permanente.'" (deleted)="receiveDeleteEvent($event)">
        </app-delete>


    </ng-template>

</div>