<div class="container">
  <div class="row">
    <form>
      <div class="form-row mb-3">
        <div class="col-md-7">
          <label for="">Nome</label>
          <h5 class="data">{{product.name}}</h5>
        </div>

        <div class="col-md-4">
          <label for="">Valor</label>
          <h5 class="data">{{product.value | br_money}}</h5>
        </div>
      </div>

      <div class="form-row mb-3">
        <div class="col-md-12">
          <label for="">Descrição</label>
          <h5 class="data">{{product.description}}</h5>
        </div>
      </div>

      <div class="form-row mb-3" id="categorias">
        <div class="col-12">
          <label class="mr-1">Categorias:</label>
        </div>
        <div *ngFor="let cat of product.categories" class="mr-1 data col-5">{{cat}}</div>
      </div>
    </form>
  </div>
</div>