<div class="container">

  <div class="card mx-5 my-3">
    <div class="bg-info text-white card-header">
      <h5 class="float-left mt-2">{{person.nome}} {{person.sobrenome}}</h5>

      <div class="float-right">
        <button (click)="edit(person.id)" class="btn btn-light">
          <fa-icon [icon]="editIcon"></fa-icon> Editar
        </button>
      </div>
    </div>

    <div class="row">
      <form>
        <div class="form-row mb-3">
          <div class="col-md-7">
            <label for="">Nome Completo</label>
            <h5 class="data">{{person.nome}} {{person.sobrenome}}</h5>
          </div>
          <div class="col-md-5">
            <label for="">E-Mail</label>
            <h5 class="data">{{person.email}}</h5>
          </div>
        </div>

        <div class="form-row mb-5">
          <div class="col-md-4">
            <label for="">CPF</label>
            <h5 class="data">{{person.cpf | cpf}}</h5>
          </div>
        </div>

        <div class="form-group mb-3" id="endereco">
          <div class="row ml-n3">
            <div *ngFor="let phone of person.telefones; let i = index" class="col-md-6">
              <label class="mr-1">Telefone {{i+1}}:</label>
              <h5 class="mr-1 data">{{phone.countryCode}} ({{phone.ddd}}) {{phone.number}}</h5>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>