<div class="container">
    <div *ngIf="loading; else tableCompanies">
        Loading...
    </div>
    <ng-template #tableCompanies>

        <div class="float-left">
            <app-basic-search (submit)="searchDealer($event)"></app-basic-search>
        </div>

        <button class="float-right" (click)="add()">Add</button>

        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Fancy Name</th>
                    <th scope="col">CNPJ</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let company of companies">
                    <th scope="row">{{company.id}}</th>
                    <td>{{company.fancyName}}</td>
                    <td>{{company.cnpj}}</td>
                    <td>
                        <a href="#" (click)="view(company.id)">View</a> &nbsp;
                        <a href="#" (click)="edit(company.id)">Edit</a> &nbsp;
                        <button class="btn btn-danger" data-toggle="modal"
                            [attr.data-target]="'#deleteModal' + company.id">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <app-pagination [pageDict]="pageDict"></app-pagination>

        <app-delete *ngFor="let company of companies" [id]="company.id" [title]="'Tem certeza?'"
            [message]="'Esta ação irá deletar ' + company.fancyName + ' permanente.'"
            (deleted)="receiveDeleteEvent($event)"></app-delete>




    </ng-template>